.users {
  width: 400px;
  margin: 0 auto;
}

.users h1 {
  text-align: center;
}

.App {
  margin: 0 auto;
  width: 800px;
}

.navbar {
  width: 400px;
  margin: 20px auto auto auto;
  display: flex;
  justify-content: center;
}
